body
{
    background-color: beige;
}
textarea:focus-visible{
    outline: none;
}
textarea
{
    height: 20px;
    width: 250px;
    position: relative;
    left: calc(50% - 125px);
    top: 310px;
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    text-align: center;
}

button
{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 370px;
    left: calc(50% - 50px);
    text-transform: uppercase;
    letter-spacing: 1px;
}

#a
{
    position: absolute;
    left: 10px;
    top: 100px;
}

#storage, #plugin
{
    position: relative;
    left: 52.5%;
    top: 120px;
}

h1{
    position: relative;
    top: 0px;
    text-align: center;
    text-transform: uppercase;
}